<p>単語タグ編集</p>
<%= form_tag("/tags/#{@tag.id}/update") do %>
    <p>タグ</p>
    <textarea name="name"><%= @tag.tag%></textarea>
    <input type="submit" value="更新" >
<% end %>
<%= link_to("戻る","/tags/index")%>