<p>単語タグ編集</p>
<%= form_with model: @tag do |form| %>
      <%= form.select :tag_id, @tags.map{ |tag| [tag.name, tag.id]} %><%= " : #{@post.word} : #{@post.mean}"%><br>
    <input type="submit" name = "name" value="保存">
<%end%>
<%= link_to("戻る","/tags/index")%>