<p>単語タグ編集</p>
<%= form_tag("/posts/#{@tag.id}/update") do%>
    <textarea name="name"><%=  @tag.name %></textarea><%= " : #{@post.word} : #{@post.mean}"%><br>
    <input type="submit" value="保存">
<%end%>