<div class="result">ここにajaxの結果を書き換えます</div>
<input type="button" class="sample_btn" value="ajax通信で取得する">

<script>
$(function(){
    //.sampleをクリックしてajax通信を行う
    $('.sample_btn').click(function(){
        $.ajax({
            url: '/practice/index.js',
            /* 自サイトのドメインであれば、https://kinocolog.com/ajax/test.html というURL指定も可 */
            type: 'GET',
            dataType: 'html'
        }).done(function(data){
            /* 通信成功時 */
            $('.result').html(data); //取得したHTMLを.resultに反映
            
        }).fail(function(data){
            /* 通信失敗時 */
            alert('通信失敗！');
                    
        });
    });
});
</script>

<h1>Ajaxを使ってみよう</h1>
<%= form_with url: practice_index_path , data: { turbo: false}, local: false do |form| %>
    <%= form.text_field :count %>
    <%= form.submit "足し算する" %>
<% end %>
